<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite">
 
<test name="GroupTest">
	<classes>
	    <class name="testng.TestGroup1"/>
	    <class name="testng.TestGroup2"/>
	  </classes>  
</test>    

    <test verbose="2" name="FirstTest">
    <classes>
      <class name="testng.test01"/>
    </classes>
  </test> <!-- Default test -->
  <test name="SecondTest">
      <classes>
          <class name="testng.test02"></class>
      </classes>
  </test>
  <test name="ParamtersTest">
      <classes>
          <class name="testng.ParametrizationTest"></class>
      </classes>
  </test>
</suite> <!-- Default suite -->