<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite">

	<listeners>
		<listener class-name="ErrorCollectors.TestListenerAdapter"></listener>
		<listener class-name="retry.RetryListner"></listener>
	</listeners>

	<test name="RetryTests">
		<classes>
			<class name="retry.RetryTest" />
		</classes>
	</test>
		
<!-- 	<test name="ListnerTest">
		<classes>
			<class name="softAssertions.TestSoftAsserts" />
		</classes>
	</test>
 -->
	<!-- <test name="ListnerTest"> <classes> <class name="listners.ListnerTest"></class> 
		</classes> </test> -->

</suite> <!-- Default suite -->